<!-- Single button -->
<div class="btn-group" uib-dropdown>
  <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle="true">
    {{school.value}} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
    <li role="menuitem" ng-repeat="school in schools" ng-click="changeSchool(school)"><a>{{school.value}}</a></li>
  </ul>
</div>

<div class="btn-group" uib-dropdown>
  <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle="true">
    {{major.value}} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
    <li role="menuitem" ng-repeat="major in majors" ng-click="changeMajor(major)"><a>{{major.value}}</a></li>
  </ul>
</div>

<uib-accordion close-others>
  <div uib-accordion-group class="panel-default" heading="plan - {{plan}}" ng-repeat="(plan, planObj) in output">
    <div class="row" style="border-style: ridge;" ng-repeat="(year, yearPlan) in planObj">
      <div class="col-md-3" ng-repeat="(quarter, courses) in yearPlan">
        <span><b>{{year}} - {{quarter}}</b></span><br>
        <span ng-repeat="course in courses">{{course}}<br></span>
        <!-- Added courses-->
        <span ng-repeat="course in electiveCourses[year][quarter]">
          {{course}}
          <button type="button" class="btn btn-danger" ng-click="deleteCourse(electiveCourses, year, quarter, $index)">
            <i class="glyphicon glyphicon glyphicon-minus-sign"></i>
          </button> 
        </span>  
        <!-- Add course-->
        <div class="input-group">
          <input type="text" class="form-control" placeholder="enter your course" ng-model="courseInputs[year][quarter]">
          <span class="input-group-btn">
            <button type="button" class="btn btn-success" ng-click="addCourse(year, quarter, courseInputs[year][quarter])">
              <i class="glyphicon glyphicon glyphicon-plus-sign"></i>
            </button>  
          </span>
        </div>
      </div>
    </div>
  </div>
</uib-accordion>
